{% extends 'base.html.twig' %}

{% block title %}Tricks {{ controller_name }}!{% endblock %}

{% block body %}
<h1>Liste des Tricks</h1>

{% for Trick in Tricks %}
<img src= "{{ Trick.image}}" alt=""/>
<article>
    <h2><a title="Détails de la figure" href={{path('showTrick', {'id' : Trick.id})}}>{{ Trick.Type }}  {{ Trick.Name }}</a></h2>
    <div class="metadata"> 
        {{ Trick.Switch }}
    </div>
    <div class="content">
        {{ Trick.Description | raw}}
    </div>
</article>
{% endfor %}

{% endblock %}
